@use "utils-section" as *;

main header {
  width: $width;
  height: $min-height;
  display: flex;
  position: relative;
  align-items: center;

  &.end { justify-content: flex-end; }

  &.start { justify-content: flex-start; }

  h1.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    margin: 0;
    width: 100%;
  }

  svg {
    z-index: 2;
    height: fluid(25px, 50px);
    cursor: pointer;
    transition: transform 300ms, opacity 300ms;

    &:hover { transform: scale(1.2); }
  }

  .green { 
    color: $green; 
    path { fill: $green; }
  }

  .purple { 
    color: $purple; 
    path { fill: $purple; } 
  }
}

