@use "utils-section" as *;

main section.loading {
  height: $height;
  width: $width;
  margin: $margin 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  p { 
    margin-top: 1.1em;
    text-align: center; 
  }
}
