@use "../utils" as *;

main section.matches {
  height: $section-height;
  width: 100%;
  margin: 10px 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  align-content: start;

  article.match {
    display: flex;

    div.img { 
      width: 50px;
      height: 50px;
      position: relative; 
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 100%;
        max-height: 100%;

        &.background {
          height: 100%;
          width: 100%;
          filter: blur(2px);
        }
      }
    }
  }
}
