@use "../utils" as *;

main.admin-page section.trips {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;

  article.trip {
    @include card();
    border-radius: 1em;
    width: 17em;
    flex-direction: row;
    cursor: pointer;
    transition: transform 300ms;

    button {
      background-color: $white;
      color: $primary-color;
    }

    &:hover {
      transform: translateY(0.25em);
    }

    &:active {
      transform: translateY(1em);
    }
  }
}
