div#home {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  main.home {
    height: 100%;
    align-items: center;

    button {
      font-weight: bold;
      font-size: 1.4rem;
      margin: 0 0.5rem 0;
    }

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
