@use "../utils" as *;

main.list-trips section.trips {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 1rem;

  article.trip {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    border-radius: 2em;
    max-width: 16em;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;


    p, h2, h3 {
      margin: 0.5em 0;
    }
  }
}
