@use "header";
@use "main";
@use "utils" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  font-size: fluid(12px, 16px);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em 0.5em;
  font-size: 1em;
  cursor: pointer;
  transition: transform 300ms, opacity 300ms;
  background-color: $primary-color;
  color: $white;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    transform: translateY(0.25em);
  }
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1rem;
  max-width: 300px;
  width: 100%;

  label, input, select, textarea {
    text-align: center;
    margin: 0.5em 0;
    width: 100%;
    max-width: 100%;
  }

  option {
    max-width: 300px;
  }

  input, select, textarea {
    resize: none;
    border-radius: 1em;
    border: 1px solid $primary-color;
    padding: 0.5em;
  }
} 
