@use "heart";
@use "main";
@use "colors" as *;
@use "utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;1,400&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: "Montserrat Alternates", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: fluid(12px, 24px);
  min-height: 100vh;
  background: linear-gradient(to bottom right, #{$purple + "EE"}, #{$green + "CC"} ), linear-gradient(to bottom left, #{$purple + "EE"}, #{$green + "CC"});

  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  p { font-size: 1em; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

